/* *{
    box-sizing: border-box;
} */
.footer{
    background-color: rgb(43, 45, 66);
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 40px;
    gap: 10px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 20px;
}
.footer-links li a{
    text-decoration: none;
    color: white;
}
.footer-links{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
.legal-links{
    display: flex;
}
.hr{
    display: block;
    background-color: rgb(141, 153, 174);
    height: 20px;
    border: none;
    width: 2px;
}
.span{
    color: rgb(239, 35, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-us p a{
    color: rgb(141, 153, 174);
    
}
.contact-us li a{
    text-decoration: none;
    color: white;
    line-height: 2;
}
.contact-us {
    list-style: none;
    font-size: 1rem;
}

@media (max-width: 515px){
    .footer-content{
    flex-direction: column;
}
}
@media (max-width : 980px){
    .footer-content{
        flex-direction: column;
    }
}
@media (max-width : 800px){
    .footer-content{
        align-items: center;
    }
    .footer-links{
        flex-direction: column;
    }
    .hr{
        display: none;
    }
}